@model IEnumerable<CafeManagement.Models.Inventory>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<h1 style="color: #5c4033;">Inventory</h1>

<p>
    <a asp-action="Create" class="btn-modern">+ Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinStockLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinStockLevel)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.InventoryId" class="btn-modern btn-modern-light" style="margin-right: 5px;">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.InventoryId" class="btn-modern" style="margin-right: 5px;">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.InventoryId" class="btn-modern btn-modern-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>