@model IEnumerable<CafeManagement.Models.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<h2 style="color: #5c4033;">Users</h2>

<p>
    <a asp-action="Create" class="btn-modern">+ Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId" class="btn-modern btn-modern-light" style="margin-right: 5px;">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.UserId" class="btn-modern" style="margin-right: 5px;">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.UserId" class="btn-modern btn-modern-danger">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
